@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* hide scrollbar */
  scrollbar-width: none;
}

html {
  overflow-y: scroll;
}

html, body, #root, .App {
  width:100vw;
  height:100vh;
}

body {
  margin:0;
}

.App {
  height:100%;
  width:100%;
  background-color: white;
}

h1 {
  font-size: 2rem;
  color:#4b6180
}

.bar-one {
  transform:rotate(45deg);
  position:absolute;
  width:20px;
}
.bar-two {
  display:none;
}
.bar-three {
  transform:rotate(135deg);
  position:absolute;
  width:20px;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  padding:2rem;
  padding-top:4rem;
  text-align: center;
}

.subtitle {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  font-weight: bold;
  color: #141414;
}

p {
  margin:0.5rem;
  text-wrap: pretty;
  color: #757575;
}

.button {
  padding-block:1rem;
  padding-inline: 2rem;
  background:#374151;
  border: none;
  color:white;
  font-weight: bold;
  border-radius:0.4rem;
}

.title {
  text-decoration: none;
  color:inherit;
}

#Opinions {
  padding-bottom:20vh
}

#Contact {
  padding-bottom:20vh
}

@media (max-width:900px) {
  
  section {
    width: 100%;
    padding-inline: 2rem;
  }
}
